body {
  font-family: Arial;
  padding: 20px;
  background-color: #f2f2f2;
}

input, textarea, select {
  width: 300px;
  margin: 5px 0;
  padding: 8px;
}

button {
  padding: 8px 12px;
  background-color: #2a9d8f;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #21867a;
}

.task {
  background-color: white;
  padding: 15px;
  margin-top: 10px;
  border-left: 5px solid #2a9d8f;
}

.comment {
  margin: 4px 0;
}

.delete-comment {
  color: red;
  cursor: pointer;
  margin-right: 8px;
  font-weight: bold;
  display: inline-block;
  width: 16px;
}


.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.task-header h3 {
  margin: 0;
}

.created-date {
  font-size: 0.9em;
  color: #666;
}
